.customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.customer-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}
